<div class="main_content container js-result">
    <div class="pagination">
        <button
            class="pagination_btn pagination_btn-prev"
            id="pagination_btn-prev"
        >
            prev
        </button>
        <div class="pagination_page">
            <span class="pagination_value" id="pagination_value">{{pag_page}}</span>
        </div>
        <button
            class="pagination_btn pagination_btn-next"
            id="pagination_btn-next"
        >
            next
        </button>
    </div>
</div>