 <section class="form-section">
        <div class="container">
          <form action="#" class="search-form" id="search-form">
            <div class="search-form_wrap">
              <div class="search-form_elem">
                <label for="search-form_input"
                  ><i class="material-icons search-form_icon">search</i></label
                >
              </div>
              <div class="search-form_elem search-form_elem-input">
                <input
                  id="search-form_input"
                  type="text"
                  placeholder="Write movie name and click Enter"
                  class="search-form_input"
                  list="languages"
                />
                <datalist
                  id="search-form_datalist"
                  class="search-form_datalist"
                >
                  <option value="Example"></option>
                </datalist>
              </div>
            </div>
          </form>
        </div> 
      <!-- Movie-list
      <!-- <ul></ul> -->
      </section>