<div class="container">
    <ul class="cards">
        {{#each this}}
        <li class="cards-item">
            <img src="{{imageURL}}" alt="{{title}}">
            <p class="film_name">{{title}}</p>
            <p class="film_rate js_film_rate">{{vote}}</p>
        </li>
        {{/each}}
    </ul>
</div>