<div class="container">
    <ul class="cards">
        {{#each movies}}
        <li class="cards-item">
            <img src="{{this.imageURL}}" alt="{{this.title}}">
            <p class="film_name">{{this.title}}</p>
            <p class="film_rate js_film_rate">{{this.vote}}</p>
        </li>
        {{/each}}
    </ul>
</div>