<div class="library-page-buttons container">
    <button class="button_watched button--is_active">
        Watched
    </button>

    <button class="button_later">
        Watch later
    </button>

</div>