<div class="library_page-container">
    <div class="library-page-buttons">
        <button class="button_watched button-is_active">
            Watched
        </button>

        <button class="button_later button-is_active">
            Watch later
        </button>

    </div>

    <ul class="cards">
        <li class="cards-item">
            <img src="{{poster_path}}" alt="{{original_title}}">
            <p class="film_name">{{title}}({{release_date}})</p>
        </li>
    </ul>

</div>