.footer {
  background-color: rgba(43, 99, 111, 1);
  padding: 20px;
}

.footer_text {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;

  &-item {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: rgb(250, 48, 48);
  }
}
