footer {
  height: 60px;
  background-color: lightgray;
  align-items: center;
  display: flex;
  padding-left: 10px;
}
.footer_text {
  font-family: 'Roboto', sans-serif;
}
.footer_text-item {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  color: brown;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
  .navigation_background {
    height: 100px;
  }
  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }
}
.menu_list {
  width: 300px;
}
