.library_page-container {
  max-width: 300px;
}
.library_page-buttons {
  display: flex;
  justify-content: center;
  padding: 12px 0 15px;

  & button {
    width: 140px;
    height: 40px;
    border: none;
    background-color: white;
    border-bottom: 2px solid #9895a2;
    font-family: 'Roboto';
    font-size: 16px;
    text-transform: uppercase;
  }

  & .button-is_active {
    color: white;
    background-color: #77c1bb;
    border-bottom: none;
  }
}

.cards-item {
  position: relative;
}
.cards-item img {
  width: 300px;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.film_name {
  color: white;
  font-family: 'Roboto';
  font-size: 12px;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .library_page-container {
    max-width: 700px;
  }
  .library_page-buttons button {
    width: 350px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
