.main_content {
  font-family: 'Roboto';

  & .poster {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  & .about {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 16px;
  }

  & .description {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #372c48;
    line-height: 18px;
  }

  & .button_later {
    position: relative;
    flex: 0 0 35%;
    width: 100%;
    border: 1px solid #c8d1d1;
    border-radius: 5px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    color: #556270;
    outline: none;
    background-color: #f3f6f6;
    font-family: 'Droid Sans';
    cursor: pointer;

    &:hover,
    &:focus {
      color: #275c69;
    }
  }

  & .main_info {
    width: 100%;
    margin-bottom: 26px;

    & .title {
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 16px;
    }

    & .info {
      font-size: 1rem;
      margin-bottom: 20px;
      color: #000;

      border-collapse: collapse;
      width: 100%;

      & .col1 {
        width: 120px;
      }

      & td {
        padding: 6px 14px;
      }

      & tr:nth-child(2n + 1) {
        background: #addad6;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 20px;

    & .poster {
      margin: 0;
      padding: 0;
      width: 30%;
    }

    & .main_info {
      display: flex;
      flex-direction: column;
      width: 50%;

      & .title {
        font-size: 2rem;
      }

      & .button_later {
        width: 320px;
        align-self: center;
      }
    }
  }
}
